[buildout]
always-checkout = force
auto-checkout +=
    eea.facetednavigation
    collective.eeafaceted.z3ctable
    imio.actionspanel
    imio.history
    collective.contact.core
    collective.contact.widget
    collective.labels
    collective.js.tooltipster
    plone.formwidget.contenttree
    plone.formwidget.masterselect

[remotes]
imio = https://github.com/imio
imio_push = git@github.com:imio
plone = https://github.com/plone
plone_push = git@github.com:plone
ftw = https://github.com/4teamwork
ftw_push = git@github.com:4teamwork
zopefoundation = https://github.com/zopefoundation
zopefoundation_push = git@github.com:zopefoundation
zopesvn = svn://svn.zope.org/repos/main/
collective = https://github.com/collective
collective_push = git@github.com:collective

[sources]
# develop-chris-adam: faceted.{jquery,view,edit} bundles no longer load_async (16.4 bug), not released yet
eea.facetednavigation = git https://github.com/chris-adam/eea.facetednavigation.git pushurl=git@github.com:chris-adam/eea.facetednavigation.git branch=develop-chris-adam
collective.eeafaceted.z3ctable = git ${remotes:imio}/collective.eeafaceted.z3ctable.git pushurl=${remotes:imio_push}/collective.eeafaceted.z3ctable.git branch=plone6_duchenean-chris-adam
imio.actionspanel = git ${remotes:imio}/imio.actionspanel.git pushurl=${remotes:imio_push}/imio.actionspanel.git branch=plone6-chris-adam
imio.history = git ${remotes:imio}/imio.history.git pushurl=${remotes:imio_push}/imio.history.git branch=plone6-chris-adam
# test extras (contact batch action): contact.core plone6 = python3 + its Plone 6 commits
collective.contact.core = git ${remotes:collective}/collective.contact.core.git pushurl=${remotes:collective_push}/collective.contact.core.git branch=plone6
collective.contact.widget = git ${remotes:collective}/collective.contact.widget.git pushurl=${remotes:collective_push}/collective.contact.widget.git branch=python3-chris-adam
collective.js.tooltipster = git ${remotes:collective}/collective.js.tooltipster.git pushurl=${remotes:collective_push}/collective.js.tooltipster.git branch=plone61-chris-adam
plone.formwidget.contenttree = git ${remotes:plone}/plone.formwidget.contenttree.git pushurl=${remotes:plone_push}/plone.formwidget.contenttree.git branch=python3
# test extra (labels batch action): the Plone 6 successor of ftw.labels
collective.labels = git ${remotes:collective}/collective.labels.git pushurl=${remotes:collective_push}/collective.labels.git branch=plone6
# PyPI 3.0.0 uses <includeDependencies> (z3c.autoinclude, absent from Plone 6.2): master 0aaf21b fixes it, unreleased
plone.formwidget.masterselect = git ${remotes:collective}/plone.formwidget.masterselect.git pushurl=${remotes:collective_push}/plone.formwidget.masterselect.git branch=master
